/*Other*/
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0 0;
    background-size: 100% 100%;
    height: 100%;
    font-family: 'Azeret Mono', monospace;
    font-size: 12px;
}
.wrapper {
    display: flex;
    flex-direction: column;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh 0 0 0;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: white;
}
/*Header*/
header {
    height: 50px;
    width: 100%;
    text-align: center;
    color: white;
}
/*Block with lesson*/
.lesson-block {
    width: 55vw;
    border-radius: 25px;
    margin-bottom: 5vh;
    background-color: rgba(12, 35, 43, 0.7);
    -webkit-box-shadow: 0px 0px 34px 9px rgba(137, 131, 129, 0.25);
    -moz-box-shadow: 0px 0px 34px 9px rgba(137, 131, 129, 0.25);
    box-shadow: 0px 0px 34px 9px rgba(137, 131, 129, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.lesson-block-top {
    color: white;
    text-align: center;
    font-size: 1.1vw;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lesson-block-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 1.5vw 0 1.5vw;
}
/*Lesson card*/
.card {
    width: 250px;
    height: 14vh;
    border-radius: 13px;
    margin: 25px;
    display: flex;
    flex-direction: column;
    padding: 0px 10px 0px 10px;
    transition-duration: 1s;
    background-color: white;
    -webkit-box-shadow: 0px 0px 34px 9px rgba(137, 131, 129, 0.25);
    -moz-box-shadow: 0px 0px 34px 9px rgba(137, 131, 129, 0.25);
    box-shadow: 0px 0px 34px 9px rgba(137, 131, 129, 0.25);
}
@media screen and (max-width: 640px) {
    .card {
        transform: scale(1);
    }
}
@media screen and (max-width: 480px) {
    .card {
        transform: scale(0.6);
        position: relative;
        right: 30px;
        margin: 0;
    }
    .lesson-block-top:first-child {
        position: relative;
        right: 30px;
    }
}
.card:hover {
    transform: scale(1.1);
}
.card-top {
    height: 57px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px black solid;
    padding-bottom: 1vh;
}
.card-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*Button Link*/
.btn {
    border: 1px purple solid;
    border-radius: 0.6em;
    height: 30px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: black;
    position: relative;
    top: 13px;
}
.btn:focus {
    box-shadow: 0 0 0 18px transparent;
    animation: pulse 1s;
}
@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}
p.lesson::after {
    content: 'Lesson card';
    font-size: 19px;
}
/*Footer*/
footer {
    width: 100%;
    height: 150px;
    background-color: rgba(6, 17, 20, 0.7);
    margin-top: 90px;
    -webkit-box-shadow: 0px -31px 21px 8px rgba(34, 60, 80, 0.54);
    -moz-box-shadow: 0px -31px 21px 8px rgba(34, 60, 80, 0.54);
    box-shadow: 0px -31px 21px 8px rgba(34, 60, 80, 0.54);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.footer-content {
    text-align: center;
}
.footer-content-top{
    color: white;
}
.footer-content-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-networks-circle{
    font-size: 30px;
    border: white 1px solid;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 8px 15px 0px;
    transition-duration: 0.8s
}
.social-networks-circle:hover{
    transform: scale(1.1);
}
